@page
@model DRUGS.Pages.Categories.RecreationalsModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h2 class="display-4 text-black mb-5">Our great selection of <span class="customTextMedicineGradient">recreationals!</span></h2>
        <p style="color:gray;">Ha! You wish</p>
    </div>
</div>