<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DRUGS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DRUGS.styles.css" asp-append-version="true" />
</head>
<body style="padding-top: 65px;">
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1 " style="padding-top: 0rem;padding-bottom: 0rem;">
            <div class="container">
                <a class="navbar-brand"  asp-area="" asp-page="/Index">
                    <img src="~/images/navbaricon.gif" class="navbar-brand" style="width: 30px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Drugs
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-page="/Categories/Medicine">Medicine</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Categories/Vitamins">Vitamins</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Categories/Supplements">Supplements</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Categories/Recreationals">Recreationals</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    @*<ul class="navbar-nav float-end">
                        <li class="nav-item" style="text-align:left" >
                            <a class="nav-link active position-relative" aria-current="page" asp-area="" asp-page="/Checkout">
                                Checkout
                                <span id="basketCounter" ClientIDMode="Static" class="translate-middle badge rounded-pill bg-danger" style="visibility: hidden;">
                                    
                                
                                </span>
                            </a>
                        </li>
                    </ul>*@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DRUGS - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>