@page
@model DRUGS.Pages.CheckoutModel
@{
}

<h1>Your Order!</h1>
@{
    var imagePath = "~/images/medicine/" + @Model.ImageTitle;
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@imagePath class="w-100" asp-append-version="true" />
        <p>Your selection: @Model.Title</p>
        <p>Total price for your order is:</p>
        <p>@Model.Price</p>
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="/ThankYou">Confirm Order</a>
    </div>
</div>